/home/dell/Desktop/projects/cipherX/AES/AES.gen/
/home/dell/Desktop/projects/cipherX/AES/AES.hw/
/home/dell/Desktop/projects/cipherX/AES/AES.ip_user_files/
/home/dell/Desktop/projects/cipherX/AES/AES.runs/
/home/dell/Desktop/projects/cipherX/AESunoptimizedArea/AESunoptimizedArea.hw/
/home/dell/Desktop/projects/cipherX/AESunoptimizedArea/AESunoptimizedArea.ip_user_files/
output.csv